@use 'base/variables' as v;

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary;
}

.bg-white {
    background-color: v.$white;
}

.m-top-ng-10 {
    margin-top: -10rem;
}

.padding-bot-0 {
    padding-bottom: 0;
}