@use 'variables' as v;

h1, h2, h3 {
    font-family: v.$mainFont;
    margin: 0 0 v.$separator 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
    color: v.$primary;

    span {
        color: v.$secondary;
        font-size: 1.8rem;
        display: block;
    }

    &::after {
        content: '';
        display: block;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        background-image: url(../img/cafe.svg);
        background-size: 10rem;
    }
}

.white-heading {
    @extend h2;
    color: v.$white;

    span {
        color: v.$white;
    }

    &::after {
        display: none;
    }
}

h3 {
    font-size: 3.2rem;
}