// Fonts
$main_font: 'Roboto', sans-serif;

// Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #E8505B;
$secondary: #455A64;
$black: #000000;
$white: #ffffff;
$lightgray: #eceeef;

// Units
$separator: 5rem;