@use 'base/variables' as v;
@use 'base/mixins' as m;

.icons {
    margin-top: 5rem;

    .icons-list {

        @include m.tablet {
            @include m.grid(3, 5rem);
        }
        li {
            img {
                margin: 0 auto;
                width: 12rem;
            }

            p {
                font-family: v.$cursiveFont;
                font-size: 3.2rem;
                color: v.$primary;
            }
        }
    }
}