@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$primary;
    
    .footer-content {
        padding: 5rem;

        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }

    .copyright {
        text-align: center;
        margin: 0;
        color: v.$white;
        padding: 2rem;
    }
}

.footer-box {
    font-family: v.$cursiveFont;
    text-align: center;
    margin-bottom: v.$separator;
    @include m.tablet {
        margin-bottom: 0;
    }
    h3 {
        font-family: v.$cursiveFont;
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color: v.$secondary;
    }

    p, a{
        font-size: 2rem;
        margin: 0;
    }
}